[Unit]
Description=Gunicorn instance to server 

# We need the network service before we start the API
After=network.target


[Service]
User=peckert
Group=peckert
WorkingDirectory=/home/peckert/app/src
Environment="PATH=/home/peckert/app/venv/bin"
EnvironmentFile=/home/peckert/.env
ExecStart=/home/peckert/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

# Default config, dont worry
[Install]
WantedBy=multi-user.target